name: Backend CI

on:
  pull_request:
    paths:
      - 'backend/**'
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR
        run: ./gradlew bootJar

      - name: Run backend JAR
        run: |
          nohup java -jar build/libs/backend-*.jar > app.log 2>&1 &
          sleep 10  # подождать, пока поднимется сервер

      - name: Run all tests (unit + API)
        run: ./gradlew test

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: backend/build/reports/tests/test

      - name: Upload app log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: app-log
          path: backend/app.log